{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}

<link rel="stylesheet" href="{{ url_for('.static', filename='css/clean-blog.css') }}">

{% endblock %}

{% block title %}Restaurants{% endblock %}



{% block content %}
{% include 'header.html' %}
<body style="background-image: url({{url_for('static', filename='img/coffee.jpg')}})">
	<div class="container">
	  <div class="row">
	    <div class="col-sm-12">

	      <div class="col-lg-8 col-md-10 mx-auto">
	        {% for cafe in all_cafes %}
	        <div class="post-preview">
	          <a href="{{ url_for('show_cafe', cafe_id=cafe.id) }}">
	            <h2 class="post-title">
	              {{cafe.name}}
	            </h2>
	            <h3 class="post-subtitle">

	            </h3>
	          </a>
	          <p class="post-meta">Added by
	            <a href="#">{{cafe.name}}</a>

		          {% if current_user.id == 1: %}
	            <a href="{{url_for('cafes', cafe_id=cafe.id) }}">✘</a>
		          {% endif %}

	          </p>

	        </div>

	        <hr>

	        {% endfor %}
	      </div>

	    </div>
	  </div>
	</div>

</body>
{% include 'footer.html' %}
{% endblock %}



